body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#palette {
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background-color: #000;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

#red {
    background-color: #F00;
}

#blue {
    background-color: #00F;
}

#green {
    background-color: #0F0;
}

#yellow {
    background-color: #FF0;
}

#magenta {
    background-color: #F0F;
}

#cyan {
    background-color: #0FF;
}

#orange {
    background-color: #FFA500;
}

#purple {
    background-color: #800080;
}

#brown {
    background-color: #8B4513;
}

#black {
    background-color: #000;
}

#brushSettings {
    margin: 20px;
}

#canvas {
    left: 50%;
    margin-left: -250px;
    position: absolute;
    border-color: rgb(146, 146, 146);
    border: solid 2px;
    border-radius: 65px;
}
